<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GTPL BANK Automation">
<listeners>
		<listener class-name="com.bank.testlisteners.TestListener" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.bank.testcases.LoginPageTest01"/>
      <class name="com.bank.testcases.LoginPageTest02"/>
      <class name="com.bank.testcases.NewCustomerPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
